<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spy Game</title>
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/typed.js"></script>
  <meta name="author" content="Arnav" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
</head>
